<ion-header>

  <ion-navbar>
    <ion-title>{{restaurantData.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div #map id="map"></div>
  <h2>Description</h2>
  <p>{{restaurantData.description}}</p>
  <h2>Horaires</h2>
  <ion-item-group *ngFor="let day of restaurantSchedule">
    <div *ngIf="day.name === 'Dim'">
      Dimanche : {{day.timeSteps[0]}} - {{day.timeSteps[day.timeSteps.length -1 ]}}
    </div>
    <div *ngIf="day.name === 'Lun'">
      Lundi : {{day.timeSteps[0]}} - {{day.timeSteps[day.timeSteps.length -1 ]}}
    </div>
    <div *ngIf="day.name === 'Mar'">
      Mardi : {{day.timeSteps[0]}} - {{day.timeSteps[day.timeSteps.length -1 ]}}
    </div>
    <div *ngIf="day.name === 'Mer'">
      Mercredi : {{day.timeSteps[0]}} - {{day.timeSteps[day.timeSteps.length -1 ]}}
    </div>
    <div *ngIf="day.name === 'Jeu'">
      Jeudi : {{day.timeSteps[0]}} - {{day.timeSteps[day.timeSteps.length -1 ]}}
    </div>
    <div *ngIf="day.name === 'Ven'">
      Vendredi : {{day.timeSteps[0]}} - {{day.timeSteps[day.timeSteps.length -1 ]}}
    </div>
    <div *ngIf="day.name === 'Sam'">
      Samedi : {{day.timeSteps[0]}} - {{day.timeSteps[day.timeSteps.length -1 ]}}
    </div>
  </ion-item-group>

</ion-content>
