<ion-content>
  <app-header title="Edition" menu="false"></app-header>
  <form (ngSubmit)="doEditProfile()" #registerForm="ngForm" >
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="text" name="email" [(ngModel)]="profile.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Civilité</ion-label>
      <ion-select name="civility" [(ngModel)]="profile.civility">
        <ion-option *ngIf="profile?.civility == 1" value="1" selected>Mr.</ion-option>
        <ion-option *ngIf="profile?.civility != 1" value="1">Mr.</ion-option>
        <ion-option *ngIf="profile?.civility == 2" value="2" selected>Mme.</ion-option>
        <ion-option *ngIf="profile?.civility != 2" value="2">Mme.</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Prénom</ion-label>
      <ion-input type="text" name="firstName" [(ngModel)]="profile.firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Nom</ion-label>
      <ion-input type="text" name="lastName" [(ngModel)]="profile.lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Téléphone</ion-label>
      <ion-input type="text" name="phoneNumber" [(ngModel)]="profile.phoneNumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Code Postal</ion-label>
      <ion-input type="text"  name="postalCode" [(ngModel)]="profile.postalCode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Mot de passe</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="profile.password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Confirmation mot de passe</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <button ion-button>
      Valider
    </button>
  </form>
</ion-content>