page-login {

    .login-box ion-list{
        background-color: #FFFFFF;
        padding: 30px;
    }

    .login-content{
        background-image: url('../../assets/imgs/bg-home.jpg');
        background-repeat: no-repeat;
        background-position: center;
        // background-size: contain;
    }

    .signup-col button{
        background-color: $violet;
        
    }

    .col{
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }

    h1{
        color: #4a4a4a;
        color: #FFFFFF;
        font-family: "KGHAPPY" !important;
        font-size: 5rem;
    }

    .fixed-content{
        background-color: rgba(0,0,0,0.2);
    }

}
