<ion-content>
    <app-header title="Mes commandes"></app-header>
    <ion-card *ngFor="let reservation of userReservations">
        <img src="{{reservation?.restaurant.picture}}"/>
        <ion-card-content (click)="toRestaurant(reservation.restaurant.id)">
            <ion-card-title>
                {{reservation.restaurant.name}}
            </ion-card-title>
            <p>
                <span class="reservation-id">Commande N°{{reservation.id}}</span>
                <span class="reservation-date">{{reservation.date|date: 'dd/MM/yyyy HH:mm'}}</span>
                <ion-buttons></ion-buttons>
            </p>
            <div class="reservation-content">
                <ion-list>
                    <ion-item *ngFor="let seat of reservation.seats">
                            <ion-item *ngFor="let content of seat.content">
                                <span class="content-name">{{content.name}}</span>
                                <span class="content-price">{{content.totalPrice}} €</span>
                            </ion-item>
                    </ion-item>
                </ion-list>
                
                <div class="total">
                    Total: {{reservation.total}} €
                </div>
            </div>
        </ion-card-content>

        <ion-row>
            <ion-col text-right>
                    <div *ngIf="reservation.hasNote; else noteTemplate">
                        Merci d'avoir noté
                    </div>
                    <ng-template #noteTemplate>
                        <ion-select #N (ionChange)="manageNote(reservation.restaurant.id,reservation.id,N.value)">
                            <ion-option selected disabled>Note</ion-option>
                            <ion-option value=1>1</ion-option>
                            <ion-option value=2>2</ion-option>
                            <ion-option value=3>3</ion-option>
                            <ion-option value=4>4</ion-option>
                            <ion-option value=5>5</ion-option>
                        </ion-select>
                    </ng-template>
            </ion-col>
        </ion-row>
        <div class="star">
            <ion-icon name="star" (click)="manageFavorite(reservation.id)">Favoris</ion-icon>
        </div>
    </ion-card>

</ion-content>