<ion-content>
    <app-header title="Mes commandes"></app-header>
    <ion-card *ngFor="let reservation of userReservations">

        <div class="img-wrapper">
            <img src="{{reservation?.restaurant.picture}}"/>    
            <ion-icon name="heart-outline" (click)="manageFavorite(reservation.id)" [name]="favorisIcon"></ion-icon>   
        </div>
      
        <!-- <ion-card-header></ion-card-header> -->

        <ion-card-content (click)="toRestaurant(reservation.restaurant.id)">
            <ion-card-title>
                {{reservation.restaurant.name}}
            </ion-card-title>
            <p>
                <span class="reservation-id">Commande N°{{reservation.id}}</span>
                <span class="reservation-date">{{reservation.date|date: 'dd/MM/yyyy HH:mm'}}</span>
                <ion-buttons></ion-buttons>
            </p>
            <div class="reservation-content">
                <ion-list>
                    <div *ngFor="let seat of reservation.seats">
                        <div class="item-wrapper">
                            <ion-item *ngFor="let content of seat.content" class="test">
                                <div class="item-detail">
                                    <p class="content-name">{{content.name}}</p>
                                    <span class="content-price">{{content.totalPrice}} €</span>
                                </div>
                            </ion-item>
                        </div>
                    </div>

                    <div class="total">
                        <span>Total :</span>
                        <span>{{reservation.total}} €</span>
                    </div>
                </ion-list>
                
                
            </div>
        </ion-card-content>

        <ion-row>
            <ion-col text-right>
                    <div *ngIf="reservation.hasNote; else noteTemplate">
                        Merci d'avoir noté
                    </div>
                    <ng-template #noteTemplate>
                        <ion-select #N (ionChange)="manageNote(reservation.restaurant.id,reservation.id,N.value)">
                            <ion-option selected disabled>Note</ion-option>
                            <ion-option value=1>1</ion-option>
                            <ion-option value=2>2</ion-option>
                            <ion-option value=3>3</ion-option>
                            <ion-option value=4>4</ion-option>
                            <ion-option value=5>5</ion-option>
                        </ion-select>
                    </ng-template>
            </ion-col>
        </ion-row>      

        <div class="star">

            <!-- <ion-icon name="heart-outline" (click)="manageFavorite(reservation.id)"></ion-icon>  -->
            <!-- <ion-icon name="star-outline"></ion-icon> -->
            <!-- <ion-icon name="star" (click)="manageFavorite(reservation.id)">Favoris</ion-icon> -->
        </div>
    </ion-card>

</ion-content>