page-register{

    .login-box{
        margin: 10px;
    }

    .scroll-content{
        padding: 0px;
    }

    .list-md[inset] .item:first-child{
        padding-left: 0px;
    }

    .col.signup-col{
        margin-left: 16px;
        margin-right: 16px;
    }

    .item-inner .input-wrapper .label{
        margin-left: 8px;
    }

}