<ion-content>
  <app-header title="Panier"></app-header>
  <ion-item class="restaurant-infos">
    <img class="restaurant-img" src="{{restaurantData?.picture}}"/>
    <h1 class="restaurant-name">{{restaurantData?.name}}</h1>
    <p class="restaurant-location">
      <i class="zmdi zmdi-pin"></i><span class="restaurant-address">{{restaurantData?.formattedAddress}}</span>
    </p>
  </ion-item>
  <ion-item class="products">
      <ion-list>
          <ion-item *ngFor="let content of cart.order" class="test">
            <div class="content-img" *ngIf="content.picture">
              zzzz
                <ion-thumbnail><img src="{{content.picture}}" /></ion-thumbnail>
            </div>
            <ion-badge color="light">{{content.quantity}}</ion-badge> x <span class="content-name">{{content.name}}</span> <span class="content-price">{{content.price}}€</span>
          </ion-item>
      </ion-list>
  </ion-item>
  <ion-item class="summary">
    <p class="total">Total: <span class="price">{{cart.totalPrice}}€</span></p>
  </ion-item>
  <button ion-button color="light" full (click)="emptyCart()">Vider le panier</button>
  <button ion-button class="checkout-step-1-btn" full (click)="toStep1()">Passer commande</button>
</ion-content>
