page-content-details {

    ion-thumbnail{
        display: flex;

        img{
            margin: auto;
        }
    }

    .product-detail,
    .add-to-cart-col{
        margin-left: 16px;
        margin-right: 16px;
    }

    .product-detail{

        display: flex;
        flex-direction: column;

        img{
            margin: auto;
            margin-top: 15px;
        }

        h2{
            font-weight: 100;
            margin-bottom: 0px;
        }

        p{
            color: #666;
            border-bottom: solid 1px #dedede;
            padding-bottom: 20px;
        }

        .product-quantity-container{
            display: flex;
            border-bottom: solid 1px #dedede;
            padding-bottom: 13px;

            .product-quantity{
                margin: auto;
                border: solid 1px #dedede;
                border-radius: 20px;
                padding: 10px 20px 10px 20px;
                display: flex;

                ion-icon:first-child{
                    padding-right: 20px;
                    margin: auto;
                }

                ion-icon:last-child{
                    padding-left: 20px;
                    margin: auto;
                }
            }
        }

    }

}
