<ion-content class="search-content">
    <app-header title="Recherche" menu="false"></app-header>

    <ion-item>
        <ion-label><ion-icon name="search"></ion-icon></ion-label>
        <ion-input type="text" class="" [(ngModel)]='searchText' (ionChange)='onInputChange()'></ion-input>
    </ion-item>


    <div #map id="map"></div>
    <!--<ng-container *ngIf="categories">-->
        <!--<ion-list>-->
            <!--<button ion-item *ngFor="let category of categories">-->
                <!--<ion-label>{{category.name}}</ion-label>-->
                <!--<ion-checkbox  (click)="updateFilters(category.id)"></ion-checkbox>-->
            <!--</button>-->
        <!--</ion-list>-->
    <!--</ng-container>-->
    <div class="box" *ngIf="showDetails && currentRestaurant">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
                        </a>
                        <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
                        </a>
                        <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
                        </a>
                    </div>
                </nav>
            </div>
        </article>
    </div>
        <!--<ion-grid *ngIf="showDetails && currentRestaurant" class="detailsModale" (click)="toRestaurant(1)">-->
            <!--<ion-row>-->
                <!--<ion-col>-->
                    <!--<img id="modale-picture" src="{{currentRestaurant?.picture}}" />-->
                <!--</ion-col>-->
                <!--<ion-col>-->
                    <!--<span id="modale-name">{{currentRestaurant?.name}}</span>-->
                <!--</ion-col>-->
                <!--<ion-col (click)="closeModale()">-->
                    <!--<ion-icon name="close"></ion-icon>-->
                <!--</ion-col>-->
            <!--</ion-row>-->
            <!--<ion-row>-->
                <!--<ion-col>-->
                <!--</ion-col>-->
                <!--<ion-col>-->
                    <!--<ion-icon name="star"></ion-icon>-->
                <!--</ion-col>-->
                <!--<ion-col col-2>-->
                <!--</ion-col>-->
            <!--</ion-row>-->
            <!--<ion-row>-->
                <!--<ion-col>-->
                <!--</ion-col>-->
                <!--<ion-col>-->
                    <!--<ion-badge color="secondary" *ngFor="let category of currentRestaurant.categories">{{category.name}}</ion-badge>-->
                <!--</ion-col>-->
                <!--<ion-col col-2>-->
                   <!--<ion-icon name="arrow-dropright"></ion-icon>-->
                <!--</ion-col>-->
            <!--</ion-row>-->
        <!--</ion-grid>-->
</ion-content>
  