<ion-content class="search-content">
    <app-header title="Search" menu="false"></app-header>

    <ion-input type="text" class="" [(ngModel)]='searchText' (ionChange)='onInputChange()'><ion-icon name="search"></ion-icon></ion-input>

    <div #map id="map"></div>
    <ng-container *ngIf="categories">
        <ion-list>
            <button ion-item *ngFor="let category of categories">
                <ion-label>{{category.name}}</ion-label>
                <ion-checkbox  (click)="updateFilters(category.id)"></ion-checkbox>
            </button>
        </ion-list>
    </ng-container>
</ion-content>
  