<ion-content>
  <app-header title="Commande"></app-header>

  <ion-item>
    <ion-label><ion-icon name="people"></ion-icon></ion-label>
    <ion-input type="number" min="1" class="" placeholder="Nombre de participants ..." [(ngModel)]='nbParticipants' (ionChange)="onNbParticipantsChange"></ion-input>
  </ion-item>
  <ion-item *ngIf="nbParticipants > 0">
    <ion-label><ion-icon name="calendar"></ion-icon></ion-label>
    <ion-datetime displayFormat="DDD. D MMM. YYYY" placeholder="Choisissez une date ..." [yearValues]="yearValues" cancelText="Annuler" doneText="Terminé"  [min]="minDate" [dayShortNames]="dayShortNames" [monthShortNames]="monthShortNames" pickerFormat="DD MMM YYYY" [(ngModel)]="myDate_day" (ionChange)="onDateUpdate()"></ion-datetime>
  </ion-item>

  <ion-item *ngIf="myDate_day != null">
    <ion-label><ion-icon name="time"></ion-icon></ion-label>
    <ion-datetime #picker_hour pickerFormat="HH:mm" [(ngModel)]="myDate_hour"  [hourValues]="hourValues" cancelText="Annuler" doneText="Terminé" minuteValues="0,30" placeholder="Choisissez une heure..." (ionChange)="checkAvailability()"></ion-datetime>
  </ion-item>

  <div class="places-availability">
    <ng-container *ngIf="nbSeats >= 0 && nbSeats < 10">
      <i class="zmdi zmdi-mood"></i>
      <ion-label>Il ne reste plus beaucoup de places ! Dépéchez vous !</ion-label>
    </ng-container>
    <ng-container *ngIf="nbSeats > 10">
      <i class="zmdi zmdi-mood"></i>
      <ion-label>Il reste de la place !</ion-label>
    </ng-container>
    <ng-container *ngIf="nbSeats === 0">
      <i class="zmdi zmdi-mood-bad"></i>
      <ion-label>Il n'y a plus de places...</ion-label>
    </ng-container>
  </div>
    
   <button ion-button class="pay" *ngIf="nbSeats > 0" full (click)="pay()">Payer {{cart.totalPrice}}€</button>
</ion-content>
